<!DOCTYPE html>
<html>
<head>
  <title>PCIC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
    <%= render "layouts/nav" %>
    <%= render "home/login_modal" %>
    <%= render "home/sign_up_modal" %>
    <%= render "layouts/notice" %>
</div>

  <%= yield %>

</body>
</html>
